.rise-enabled .cm-editor {
    font-size: 1.5rem;
}

.rise-enabled .jp-OutputArea pre {
    font-size: 1.5rem;
}

.rise-enabled .jp-Collapser {
    display:None;
}

.rise-enabled .jp-MarkdownOutput{
    font-size:1.5rem;
}

.rise-enabled .jp-InternalAnchorLink{
    display:None;
}
.rise-enabled .jp-Notebook.jp-mod-commandMode .jp-Cell.jp-mod-active:focus-visible {
    box-shadow: None;
}